<a href="https://colab.research.google.com/github/shivani-varsha/GST_hackathon/blob/main/GST_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Required Libraries
import pandas as pd
import numpy as np
xtr = pd.read_csv('/content/drive/MyDrive/Xtrain90.csv')
ytr = pd.read_csv('/content/drive/MyDrive/Ytrain90.csv')

In [ ]:
xtr.drop('ID', axis=1, inplace=True)

In [ ]:
xtr.head()

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,...,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,2.0,25,84.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,NaN,...,0,0,NaN,0.00339,0.0,0,0.0,0,0,0
1,0.0,2495,6316.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,0.125758,NaN,...,0,0,0.001351,0.00339,0.0,0,0.0,0,0,0
2,0.0,2045,1328.0,0.678139,0.701403,-0.007467,-0.407939,-0.015607,1.037665,NaN,...,1,1,0.001351,0.00339,0.0,0,0.0,0,0,0
3,0.0,0,1223.0,NaN,NaN,-0.007468,-0.407939,-0.015607,-0.774979,NaN,...,0,0,NaN,0.00339,0.0,1,2.0,0,0,0
4,0.0,881,5567.0,-2.028572,-1.855728,-0.007469,-0.407939,-0.015607,-0.774979,NaN,...,0,0,NaN,0.00339,0.0,0,0.0,0,0,0

In [ ]:
ytr.isnull().sum()

target    0
dtype: int64

In [ ]:
xtr.drop('ID', axis=1, inplace=True)

In [ ]:
imputer = IterativeImputer(random_state=0)

# Perform the imputation
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

print(df_imputed)

In [ ]:
xtr.isnull().sum()

Column0     0
Column1     0
Column2     0
Column3     0
Column4     0
Column5     0
Column6     0
Column7     0
Column8     0
Column9     0
Column10    0
Column11    0
Column12    0
Column13    0
Column14    0
Column15    0
Column16    0
Column17    0
Column18    0
Column19    0
Column20    0
Column21    0
dtype: int64

In [ ]:

xtr.to_csv('xtr.csv', index=False)
ytr.to_csv('ytr.csv', index=False)